@import forms.Show
@(show: Form[Show])(implicit messagesProvider: MessagesProvider, flash: Flash, request: RequestHeader)

@main(Messages("Home")) {
    @* フォームが持つグローバルエラーを描画する *@
    @show.globalError.map { error =>
        @error.message
    }

    @helper.form(helper.CSRF(routes.BeaconController.show)) {
        @helper.inputDate(show("date_start"))
        @helper.inputDate(show("date_end"))
        @helper.inputText(show("serial"))
        @helper.inputText(show("ble_address"))
        <input type="submit" value="show"/>
    }
}