@(title: String)(content: Html)(implicit messagesProvider: MessagesProvider, flash: Flash, request: RequestHeader)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
</head>
<body>
<div class="container">
    @common.messages()
    @content
</div>
@common.footer()
<script src=@routes.Assets.versioned("javascripts/vue.js")></script>
<script src=@routes.Assets.versioned("javascripts/main.js")></script>
</body>
</html>